################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vcxproj

/.vs
/Outputs
/x64/Debug
/x64/Release
